.font-thin {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.text-black-70 {
  color: rgba(0, 0, 0, 0.7);
}
